# --- Raspberry Pi 3 (Cross-compile via Zig) ---
build:rpi3 --platforms=//:rpi3
# Removed crosstool_top to let Toolchain Resolution pick @zig_sdk

# --- Local Host (Native via System Clang + Mold) ---
build:x86_64 --platforms=//:x86_64
build:x86_64 --action_env=CC=clang
build:x86_64 --action_env=CXX=clang++
build:x86_64 --linkopt=-fuse-ld=mold
